# Project exclude paths
/.gradle/
/Desktop Calculator/task/build/
/Desktop Calculator/task/out/
/Desktop Calculator/task/out/production/classes/
/Topics/Functional interfaces/Theory/out/
/Topics/Functional interfaces/Theory/out/production/classes/